<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error404</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <br />
    <br />

    <div class="container mx-auto">
      <div class="hero bg-base-200">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">Error 404</h1>
            <p class="py-6">Dataset not found!</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
