<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <!--navbar-->
    <%- include('partials/navbar', {page: '/about'}) %>

    <!--container-->
    <div class="container mx-auto">
      <div class="hero bg-base-200">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">About Me</h1>
            <p class="py-6">Me, a Cat Lover</p>
          </div>
        </div>
      </div>

      <br />
      <br />

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-10">
        <div>
          <img src="/cat.jpeg" />
        </div>
        <div>
          <p>
            I am Siu Man Cheng and I am a student from Seneca College. This is
            my WEB322 Assignment. I really like cats because they are cute and
            spending time with them is relaxing!
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
